DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=

REDIS_HOST=
REDIS_PORT=

RATE_LIMIT=
RATE_LIMIT_WINDOW=

GEOIP2_DB_PATH=

RABBITMQ_URL=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=